/* Register.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eef2f7;
  color: #333;
}

.register-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 25px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 0px;
}

h1 {
  text-align: center;
  color: #444;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  font-size: 14px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

form input:focus {
  outline: none;
  border: 1px solid #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.register-button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #45a049;
}

.update-button, .delete-button, .register-button {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.update-button:hover, .delete-button:hover, .register-button:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

