.update-user-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-top: 0px;
  }
  
  .update-user-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .update-user-container form {
    display: flex;
    flex-direction: column;
  }
  
  .update-user-container label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }
  
  .update-user-container input,
  .update-user-container textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .update-user-container button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .update-user-container button:hover {
    background-color: #0056b3;
  }
  
  .update-user-container p {
    text-align: center;
    color: green;
  }
  